/* page1-2 */

#menu_main div{
    background-image: url('../images/sub_page-title_1-2.jpg');
}
#title_img{
    height: 500px;
    width: 100%;
    background: #e4d2bc;
    position: relative;
    /* top: 33px; */
    background-image: url('../images/page-title.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    overflow: hidden;
}
#contents_wrap{
    width: 1150px;
    margin: 0 auto;
    position: relative;
}
#contents_wrap>h1{
    background-image: url('../images/about_title.png');
    background-repeat: no-repeat;
    width: 320px;
    height: 70px;
    margin: 0 auto;
    background-size: contain;
    text-indent: -999px;
    margin-top: 100px;
    padding-bottom: 100px;
}
#contents_wrap span{
    font-weight: bold;
}

#contents_wrap>.left{
    float: left;
    padding: 0 15px;
    width: calc(50% - 20px);
    margin-bottom: 30px;
    /* margin-left: ; */
}
#contents_wrap .sub_title{
    color: #0e347e;
    font-size: xx-large;
    letter-spacing: 2px;
    font-weight: bolder;
    margin-bottom: 40px;
}
#contents_wrap p{
    font-size: medium;
    letter-spacing: 1px;
    margin-bottom: 25px;
    /* font-weight: 600; */
}
#contents_wrap>.right{
    width: calc(50% - 20px);
    margin-bottom: 30px;
    float: right;
}
#contents_wrap>.left.top{
    margin-bottom: 98px;
}
#contents_wrap>.right.top{
    margin-bottom: 135px;
}
#contents_wrap>.about_line{
    border-bottom: 2px solid #0e347e;
    width: 100%;
    display: block;
    position: absolute;
    top: 545px;
}
#contents_wrap>.middle ul{
    /* width: 675px; */
     margin: 0 auto;
     margin-left: calc(50% - 357px);
}
#contents_wrap>.middle li{
    display: inline-block;
    float: left;
    padding: 10px;
}
#contents_wrap>.middle li h2{
    width: 215px;
    text-align: center;
    padding: 20px;
    font-size: x-large;
    font-weight: 900;
    color: #0e347e;
}
#contents_wrap>.l2{
    position: absolute;
    top: 977px;
}

#contents_wrap>.bottom{
    margin-top: 90px;
}

#contents_wrap .coffee{
    margin-top: 50px;
}

#contents_wrap .coffee h1{
    color: #0e347e;
    padding-bottom: 10px;
}
#contents_wrap .coffee p{
    font-size: 14px;
    letter-spacing: normal;
}
#contents_wrap .coffee .coffee_chart{
    background: #ffe600;
    overflow: hidden;
    padding: 20px 10px;
    margin-right: 20px;
    box-sizing: border-box;
    border-radius: 20px;
    margin-top: -10px;
}
#contents_wrap .coffee #c_name{
    width: 40%;
    font-size: 18px;
    float: left;
    font-weight: bold;
    line-height: 30px;
    padding-top: 20px;
    color: #0e347e;
    padding-left: 10px;
}
#contents_wrap .coffee #c_name span{
    font-size: 24px;
}
#contents_wrap .coffee .c_chart{
    width: 60%;
    float: right;
    margin-top: -10px;
}
#contents_wrap .coffee .coffee_chart img{
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
}
#contents_wrap .coffee .coffee_chart li{
    padding: 5px 0;
    font-size: 16px;
    float: right;
    font-weight: bold;
    /* line-height: 50px; */
}
