/* 비디오(메인 콘텐츠) */
#video {
    
    /* background: #ccc; */
    /* display: inline-block; */
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;

}
.vimeo{
    width: 100%;
    margin-bottom: 150px;
}


#video > .title {
    text-align: center;
    /* background: #ccc; */
    margin-top: 60px;
    margin-bottom: 120px;
}
#video > .title img {
   width: 320px;
   height: 70px;
   
}

/* 추천 메뉴 */

#best_menu{
    /* background: #cccccc; */
    width: 880px;
    margin: 0 auto;
    /* background: skyblue; */
    text-align: center;
}

#best_menu h1 {
    font-size: 2.3em;
    color: #0e347e;
    margin-bottom: 30px;
}

#best_menu .line2 {
    display: block;
    border-bottom: 4px solid #0e347e;
    width: 40px;
    margin: 0 auto;
    margin-bottom: 70px;
}

.best_list{
    width: 880px;
    margin: 0 auto;
    overflow: hidden;
}

.best_list li{
    text-align: center;
    width: 220px;
    float: left;
}
.best_list li img{
    width: 200px;
}
/* .best_list li img:hover{
    transform: scale(1.2);
} */

.best_list li .text{
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 60px;
}

.best_list li .hover {
    display: none;
}

.best_list .hover h3 {
    margin-top: 35px;
    font-size: 1.8em;
    padding-bottom: 3px;
}

.best_list .hover .eng {
    color: #5e5e5e;
    margin-bottom: 7px;
    font-size: 11px;

}

.best_list .hover .substan {
    line-height: 20px;
    color: #444004;
    /* text-align: left; */
    font-size: 14px;
}

.line_in {
    display: block;
    border-bottom: 3px solid #0e347e;
    width: 20px;
    margin: 0 auto;
    margin-bottom: 13px;
}

.best_list li:hover .hover{
    display: block;
    position: absolute;
    bottom: 20px;
    background: rgba(255, 230, 0, 0.7);
    width: 220px;
    height: 286px;
    padding: 20px;
    text-align: center;
    color:#0e347e;
    line-height: 180%;
    z-index: 99;
}
